.nav-bar{
	height:50px;
	
}
.anime-img{
	width: 242px;
	height: 230px;
	
}
.demo-layout-transparent {
  
  }
.demo-layout-transparent .mdl-layout__header, .demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}
.nav-bar{
	height: 100px;
}
.animebox{
	background-color: #999999;
	margin-bottom: 10px;
	border-radius: 5px;
}
.animeboxd{
	opacity: 0.9;
}
p{
	margin-bottom: 0;
	padding-left: 5px;
	color: white;
	font-size: 16;
}